.office-container {
    height: 520px;
}

.main-info {
    border: 1px solid;
    height: 70px;
    margin-bottom: 20px;
}
.left_col {
    border: 1px solid;
    height: 100%;
}

.right_col {
    border: 1px solid;
    height: 100%;
}
.margin-top-15 {
    margin-top: 15px;
}
.green {
    color: #1abb9c;
}